.container {
    text-align: center;
}

#startOver {
    position: absolute;
    right: 10px;
    top: 10px;
    border: black;
    background-color: white;
}

/* #home{
    background-color: black;
    color: white;
} */

#map {
    position: absolute;
    background-color: white;
    bottom: 15px;
    left: 150px;
}

#witchImg {
    width: 200px;
}

#winterWonderland {
    background-color: rgb(52, 160, 248);
}

#snowflakeImg {
    width: 200px;
}

#north-pole {
    background-color: red;
}

#north-poleImg {
    width: 250px;
}

#santapage {
    background-color: rgb(18, 102, 32);
}

#santaImg {
    width: 250px;
    margin: 10px;
}

#ChristmasQuiz {
    outline: black;
    background-color:  rgb(70, 214, 70);
    padding: 10px;
}

#question {
    font-size: larger;
}

#totalScore {
    font: x-large;
    background-color: rgb(70, 214, 70);
    width: 40%;
    border: 10px;
    margin-bottom: 15px;
    margin-left: 325px;
}

#isreal {
    background-color: blue;
}

#isrealImg {
    width: 200px;
    padding: 10px;
}

#reindeer {
    background-color: rgb(66, 29, 7);
    color: grey;
}

#reindeerImg {

}

#Spooky {
    background-color: gray;
}

#ghostImg {
    width: 200px;
    padding: 10px;
}

#monster {
    background-color: lightgreen;
}

#monsterImg {
    width: 200px;
    padding: 10px;
}

#trick {
    background-color: orange;
}

#treatersImg {
    width: 200px;
    padding: 10px;
}

#costume {
    background-color: plum;
}

#costumeImg {
    width: 200px;
    padding: 10px;
}

#candy {
    background-color: yellow;
}

#candyImg {
    width: 300px;
    padding: 10px;
}

#menorah {
    background-color: gold;
}

#menorahImg {
    width: 200px;
    padding: 10px;
}

#candle {
    background-color: lightskyblue;
}

#candleImg {
    width: 200px;
    padding: 10px;
}

#oil {
    background-color: darkgoldenrod;
}

#dreidel {
    background-color: rgb(189, 124, 39);
}

#dreidelImg {
    width: 200px;
    padding: 10px;
}

#oilImg {
    width: 200px;
    padding: 10px;
}